@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1a1a2e;
  --color-background-light: #f6f6f7;
  --color-background-dark: #16161c;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-sans;
  }
}
